aiobotocore==2.7.0
aiohttp==3.9.3
aioitertools==0.7.1
aiosignal==1.2.0
aiosqlite==0.18.0
alembic==1.8.1
altair==5.0.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
apprise==1.7.6
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgi-lifespan==2.1.0
asn1crypto==1.5.1
astroid==2.14.2
asttokens==2.4.1
astunparse==1.6.3
async-exit-stack==1.0.1
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
autopep8==2.0.4
awswrangler==3.7.3
Babel==2.14.0
backoff==1.11.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.6.2
bokeh==3.4.0
boto3==1.28.64
botocore==1.31.64
Bottleneck==1.3.5
branca==0.6.0
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.3.3
catboost==1.2.3
certifi==2025.4.26
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
coolname==2.2.0
croniter==1.3.7
cryptography==41.0.7
cycler==0.11.0
cytoolz==0.12.2
dask==2023.11.0
dateparser==1.1.8
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distributed==2023.11.0
dnspython==2.4.2
docker==6.1.3
docker-pycreds==0.4.0
docstring-to-markdown==0.11
email_validator==2.1.1
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
Faker==18.9.0
fastcluster==1.2.6
fastjsonschema==2.19.1
fiona==1.10.1
flake8==7.0.0
Flask==2.2.5
folium==0.14.0
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
GDAL==3.6.2
geopandas==0.14.4
gitdb==4.0.7
GitPython==3.1.43
google-auth==2.29.0
graphviz==0.20.1
greenlet==3.0.1
griffe==0.44.0
h11==0.14.0
h2==4.1.0
HeapDict==1.0.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httpx==0.26.0
humanize==4.9.0
hyperframe==6.0.1
idna==3.6
imbalanced-learn==0.12.0
importlib-metadata==7.0.1
importlib_resources==6.1.3
ipykernel==6.29.0
ipython==8.21.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==8.0.4
isoduration==20.11.0
isort==5.9.3
itsdangerous==2.0.1
jedi==0.19.1
Jinja2==3.1.3
jinja2-humanize-extension==0.4.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupysql==0.10.9
jupysql-plugin==0.4.1
jupyter==1.0.0
jupyter_client==8.6.0
jupyter-console==6.6.3
jupyter_core==5.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
kiwisolver==1.4.4
kubernetes==27.2.0
lazy-object-proxy==1.6.0
lightgbm==4.6.0
llvmlite==0.42.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
Mako==1.2.3
mapclassify==2.5.0
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.0
missingno==0.5.2
mistune==3.0.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
monotonic==1.5
msgpack==1.0.3
multidict==6.0.4
munkres==1.1.4
mypy-boto3-s3==1.34.91
mypy-boto3-secretsmanager==1.34.72
nbclient==0.8.0
nbconvert==7.14.2
nbformat==5.9.2
nest_asyncio==1.6.0
networkx==3.4.2
notebook==7.0.6
notebook_shim==0.2.3
numba==0.59.0
numexpr==2.8.7
numpy==1.24.3
oauthlib==3.2.2
orjson==3.9.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.1
pandas==2.1.4
pandocfilters==1.5.0
parse-torrent-title==2.8.1
parso==0.8.3
partd==1.4.1
pathspec==0.10.3
patsy==0.5.6
pendulum==2.1.2
pickleshare==0.7.5
Pillow==10.0.1
pip==24.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
ploomber-core==0.2.25
plotly==5.24.1
pluggy==1.0.0
ply==3.11
posthog==3.3.3
prefect==2.18.3
prefect-aws==0.4.16
prefect-dask==0.2.8
prettytable==3.5.0
prometheus-client==0.19.0
prompt-toolkit==3.0.42
protobuf==3.20.3
psutil==5.9.8
pure-eval==0.2.2
pyaml==20.4.0
pyarrow==14.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAthena==3.6.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.0b4
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.17.2
PyJWT==2.8.0
pylint==2.16.2
pymongo==3.12.0
PyMySQL==1.0.2
pyod==1.0.9
pyOpenSSL==24.0.0
pyparsing==3.1.2
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
python-multipart==0.0.9
python-slugify==5.0.2
pytoolconfig==1.2.6
pytz==2023.3.post1
pytzdata==2020.1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.0
QtPy==2.4.1
readchar==4.0.5
referencing==0.33.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rope==1.12.0
rpds-py==0.17.1
rsa==4.7.2
Rtree==1.0.1
ruamel.yaml==0.17.21
s3fs==2023.10.0
s3transfer==0.7.0
scikit-base==0.7.5
scikit-learn==1.5.2
scikit-optimize==0.9.0
scipy==1.12.0
seaborn==0.13.2
selenium==4.17.2
Send2Trash==1.8.2
setuptools==68.2.2
shap==0.42.1
shapely==2.0.5
shellingham==1.5.0
sip==6.7.12
six==1.16.0
sktime==0.36.0
slicer==0.0.7
smmap==4.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlglot==20.8.0
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.1
streamlit==1.45.1
stumpy==1.11.1
tblib==1.7.0
tenacity==8.2.2
terminado==0.18.0
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.14.1
trio==0.19.0
trio-websocket==0.11.1
tsfresh==0.0.post0.dev62+g3b829b5.dirty
typer==0.12.3
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
typing-utils==0.1.0
tzdata==2023.3
tzlocal==5.2
ujson==5.9.0
Unidecode==1.2.0
uri-template==1.3.0
urllib3==2.0.7
uvicorn==0.20.0
watchdog==4.0.2
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==10.4
Werkzeug==2.3.8
whatthepatch==1.0.2
wheel==0.41.2
widgetsnbextension==4.0.5
win-inet-pton==1.1.0
wrapt==1.14.1
wsproto==1.2.0
xgboost==2.1.3
xyzservices==2022.9.0
yapf==0.40.1
yarl==1.9.3
zict==3.0.0
zipp==3.17.0
